
*
{
  box-sizing: border-box;
}

.card-QBC
{
  background-color: white;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
  border: 5px solid greenyellow;
  border-radius: 10px;
  width: 75%;
  height: 75%; 
  position: absolute;
  left:12.5%;
  top:12.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.catgeory_buttons-QBC
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
    margin-bottom: 1%;
}

aside
{
  background-color: rgb(181, 47, 6);
  color:white;
  border-radius: 10px;
  padding: 1%;
  cursor: pointer;
}
aside:hover
{
    box-shadow: 0 0 11px rgb(181, 47, 6); 
}
.outer-div-QBC
{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 75%;
    padding: 5%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.title-QBC
{
  border-bottom: 4px solid rgb(7, 102, 154);
  width: fit-content;
  text-align: center;
  align-self: center;

}

.quote-QBC
{
  text-align: center;
  width: 100%;
}
.author-QBC{
  text-align: end;
}
.Back-QBC,
.btn-QBC
{
  align-self: flex-end;
  background-color: rgb(181, 47, 6);
  color:white;
  border-radius: 5px;
  padding: 1%;
  cursor: pointer;
}
.btn-QBC:hover,.Back-QBC:hover{
  box-shadow: 0 0 11px rgb(181, 47, 6); 

}
.Back-QBC
{
  align-self: center;
  text-decoration: none;
  margin:1% ;
}
.Link-QBC
{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width:425px)
{
  .card-QBC
  {
    width: 100%;
    height: fit-content;
    left:0;
    top:25%
  }
}